.nav {
	letter-spacing: 1.5px;
	align-items: center;
	margin-block: 1rem;
}

.nav__items {
	gap: 2rem;
}

.nav__item {
	padding-block: 3px;
	border: 2px solid transparent;
	transition: border 500ms;
}

.nav__item:hover {
	border-bottom: 2px solid var(--clr-accent-light);
}

.nav__item.selected {
	border-bottom: 2px solid var(--clr-accent);
	color: black;
}
